{
	"presets": [
		[
			"@babel/preset-env",
			{
				"useBuiltIns": "usage",
				"corejs": "3"
			}
		],
		"@babel/preset-react",
		"@babel/preset-typescript"
	],
	"plugins": [
		"react-hot-loader/babel",
		["@babel/plugin-proposal-decorators", { "legacy": true }],
		"@babel/plugin-proposal-export-default-from"
	]
}
